# roles/app_code/tasks/main.yml
# This playbook handles application code deployment on the target host.
# It performs the following steps:
# 1. Clones or pulls the application repository from GitHub into the specified directory as the target user.
# 2. Displays whether the code was updated/cloned or was already up-to-date.
# 3. Sets a fact (code_was_updated) based on whether the repository was changed, which is later used by other roles (like docker_app) to determine if a rebuild is
---
- name: Copy application code from local machine
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/../../srcs/"
    dest: "{{ app_dest_path_compose }}"
    owner: "{{ app_owner_user }}"
    group: "{{ app_owner_user }}"
    mode: 'u=rwX,g=rX,o=rX'
  register: copy_result
  become: yes

- name: Verify if code was copied/updated successfully
  ansible.builtin.debug:
    msg: "Code deployment status: {{ copy_result.changed | ternary('UPDATED/COPIED', 'ALREADY UP-TO-DATE') }}"

# Store the code change status for later using in docker_app tasks:
- name: Set fact for code changes
  ansible.builtin.set_fact:
    code_was_updated: "{{ copy_result.changed }}"
    # code_was_updated will be true if:
    # - The files are copied for the first time (changed: true)
    # - There are differences between source and destination (changed: true)
    # - It will be false if there are no changes to apply (changed: false)