# # roles/nginx/tasks/main.yml
---
- name: Ensure Docker Compose is available (sanity check)
  ansible.builtin.command: "{{ docker_compose_command }} version"
  register: docker_compose_version_check
  changed_when: false
  failed_when: docker_compose_version_check.rc != 0
  tags: nginx

- name: Wait for Certbot to complete
  ansible.builtin.command: docker inspect --format='{{"{{"}}.State.Status{{"}}"}}' certbot
  register: certbot_status
  retries: 10
  delay: 10
  until: certbot_status.stdout == 'exited'
  tags: nginx

- name: Wait for WordPress to be healthy
  ansible.builtin.command: docker inspect --format='{{"{{"}}.State.Health.Status{{"}}"}}' wordpress
  register: wordpress_health
  retries: 10
  delay: 10
  until: wordpress_health.stdout == 'healthy'
  tags: nginx

- name: Wait for phpmyadmin to be healthy
  ansible.builtin.command: docker inspect --format='{{"{{"}}.State.Health.Status{{"}}"}}' phpmyadmin
  register: phpmyadmin_health
  retries: 10
  delay: 10
  until: phpmyadmin_health.stdout == 'healthy'

- name: Debug Certbot status
  ansible.builtin.debug:
    msg: "Certbot container status: {{ certbot_status.stdout }}"
  tags: nginx

- name: Debug phpmyadmin health status
  ansible.builtin.debug:
    msg: "phpmyadmin container status: {{ phpmyadmin_health.stdout }}"
  tags: nginx

- name: Debug wordpress status health
  ansible.builtin.debug:
    msg: "wordpress container status: {{ wordpress_health.stdout }}"
  tags: nginx

- name: Stop and remove existing nginx service if running
  community.docker.docker_compose_v2:
    project_src: "{{ app_dest_path_compose }}"
    services: ["nginx"]
    state: absent # Arresta e rimuove i container e le reti
  ignore_errors: yes
  become: yes
  become_user: "{{ app_owner_user }}"
  tags: nginx

- name: Build the nginx service
  community.docker.docker_compose_v2:
    project_src: "{{ app_dest_path_compose }}"
    services: ["nginx"]
    build: always
  become: yes
  become_user: "{{ app_owner_user }}"
  tags: nginx

- name: Start the nginx service
  community.docker.docker_compose_v2:
    project_src: "{{ app_dest_path_compose }}"
    services: ["nginx"]
    state: present
  become: yes
  become_user: "{{ app_owner_user }}"
  register: nginx_start_result
  tags: nginx

- name: Wait for nginx to be healthy
  ansible.builtin.command: docker inspect --format='{{"{{"}}.State.Health.Status{{"}}"}}' nginx
  register: nginx_health
  retries: 10
  delay: 10
  until: nginx_health.stdout == 'healthy'
  tags: nginx

- name: Display nginx service status
  ansible.builtin.debug:
    msg: "Docker Compose services started. Status: {{ nginx_start_result }}"
  tags: nginx