# # roles/nginx/tasks/main.yml
---
- name: Ensure Docker Compose is available (sanity check)
  ansible.builtin.command: "{{ docker_compose_command }} version"
  register: docker_compose_version_check
  changed_when: false
  failed_when: docker_compose_version_check.rc != 0

- name: Stop and remove existing nginx service if running
  community.docker.docker_compose_v2:
    project_src: "{{ app_dest_path_compose }}"
    services: ["nginx"]
    state: absent # Arresta e rimuove i container e le reti
  ignore_errors: yes
  become: yes
  become_user: "{{ app_owner_user }}"

- name: Build the nginx service
  community.docker.docker_compose_v2:
    project_src: "{{ app_dest_path_compose }}"
    services: ["nginx"]
    build: always
  become: yes
  become_user: "{{ app_owner_user }}"

- name: Start the nginx service
  community.docker.docker_compose_v2:
    project_src: "{{ app_dest_path_compose }}"
    services: ["nginx"]
    state: present
  become: yes
  become_user: "{{ app_owner_user }}"
  register: nginx_start_result

- name: Wait for nginx to be healthy
  ansible.builtin.command: docker inspect --format='{{"{{"}}.State.Health.Status{{"}}"}}' nginx
  register: nginx_health
  retries: 10
  delay: 5
  until: nginx_health.stdout == 'healthy'

- name: Display nginx service status
  ansible.builtin.debug:
    msg: "Docker Compose services started. Status: {{ nginx_start_result }}"
